.text-field {
    -fx-border-color: #666;
    -fx-border-width: 1;
    -fx-background-color: white;
}
.text-field.highlight {
    -fx-border-color: #2a9df4;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(42,157,244,0.2), 6,0,0,0);
}
.text-field.error {
    -fx-border-color: #d33;
    -fx-border-width: 2;
    -fx-background-color: #ffecec;
}
.text-field.given {
    -fx-background-color: #f3f3f3;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}
